:root {
  --primary-color: white;
  --secode-bg-color: #c670ff;
  --blue-bg-color: #021027;
}

body {
  margin: 0;
  padding: 0;
}
.hero-div {
  background-image: url("resource/Object.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-ul li a {
  color: var(--primary-color);
}
.container_1 {
  text-align: center;
}
.central-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.button {
  color: white;
  background-color: var(--secode-bg-color);
  border-radius: 5px;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

